@model Tennis2.Models.ClassMemberCoach

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClassMemberCoach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoachName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoachName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
